<ion-header>
  <ion-navbar>
    <ion-title>
      The Ultimate Gif Maker
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <p>{{imageURI}}</p>
    <button ion-button color="secondary" (click)="getImage()">Get the image</button>
  </ion-item>

  <ion-item>
    <h4>Preview of the image</h4>
    <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic file upload" width="300" />
  </ion-item>

  <ion-item>
    <button ion-button color="primary" (click)="uploadFile()">Upload the image</button>
  </ion-item>

</ion-content>
